body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  align-content: center;
  font-size: 32px;
  font-weight: 900;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  align-content: center;
  text-align: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  flex-shrink: 0;
  padding: 16px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  padding: 16px;
  width: 300px;
  text-align: justify;
  max-height: 400px;
  min-height: 300px;
}

.container {
  display: flex;
  flex: 1;
}

.sidebar ul {
  list-style-type: none; /* Removes bullets */
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
}

.sidebar a {
  font-size: 24px;
  color: white;
  text-decoration: none;
}

.sidebar li {
  margin-bottom: 16px; /* Adds space between the list items */
}

.sidebar li:last-child {
  margin-bottom: 0; /* Removes the bottom margin from the last item */
}

.cards {
  display: flex;
  padding: 48px;
  gap: 16px;
  flex-wrap: wrap;
  
}